<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/index.css')}}"
    />
    <title>Fernan Portfolio</title>
  </head>
  <body>
    <!-- Header -->
    <header class="l-header">
      <nav class="nav bd-grid">
        <div>
          <a href="#" class="nav__logo">Fernado</a>
        </div>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#home" class="nav__link active">Home</a>
            </li>
            <li class="nav__item">
              <a href="#about" class="nav__link">About</a>
            </li>
            <li class="nav__item">
              <a href="#skills" class="nav__link">Academic</a>
            </li>
            <li class="nav__item">
              <a href="#contact" class="nav__link">Contact</a>
            </li>
          </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
          <i class="bx bx-menu"></i>
        </div>
      </nav>
    </header>

    <main class="l-main">
      <!-- Home -->
      <section class="home bd-grid" id="home">
        <div class="home__data">
          <h1 class="home__title">
            Hi,<br />I'am <span class="home__title-color">Fernando</span><br />
            Software Developer
          </h1>

          <a href="#contact" class="button">Contact</a>
        </div>

        <div class="home__social">
          <a
            href="https://www.linkedin.com/in/fernancumez"
            target="__blank"
            class="home__social-icon"
            ><i class="bx bxl-linkedin"></i
          ></a>
          <a
            href="https://github.com/fernancumez"
            target="__blank"
            class="home__social-icon"
            ><i class="bx bxl-github"></i
          ></a>
        </div>

        <div class="home__img">
          <img src="{{url_for('static', filename='img/perfil.png')}}" alt="" />
        </div>
      </section>

      <!-- About -->
      <section class="about section" id="about">
        <h2 class="section-title">About</h2>

        <div class="about__container bd-grid">
          <div class="about__img">
            <img src="{{url_for('static', filename='img/about.jpg')}}" alt="" />
          </div>

          <div>
            <h2 class="about__subtitle">I'am Marlon</h2>
            <p class="about__text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Voluptate cum expedita quo culpa tempora, assumenda, quis fugiat
              ut voluptates soluta, aut earum nemo recusandae cumque
              perferendis! Recusandae alias accusamus atque.
            </p>
          </div>
        </div>
      </section>

      <!-- Academic -->
      <section class="skills section" id="skills">
        <h2 class="section-title">Academic</h2>

        <div class="skills__container bd-grid">
          <div>
            <h2 class="skills__subtitle">Approved Courses</h2>
            <p class="skills__text">
              During this time I have passed the following courses
            </p>

            <h4>1st</h4>

            <div>
              <input
                checked
                type="checkbox"
                id="1990001"
                onclick="return false;"
              />
              <label for="1990001">Desarrollo humano y Profesional</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990002"
                onclick="return false;"
              />
              <label for="1990002">Metodologìa de la investigacion</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990003"
                onclick="return false;"
              />
              <label for="1990003">Contabilidad I</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990004"
                onclick="return false;"
              />
              <label for="1990004"
                >Introduccion a los sistemas de computo</label
              >
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990005"
                onclick="return false;"
              />
              <label for="1990005">Lògica de sistemas</label>
            </div>

            <h4>2nd</h4>

            <div>
              <input
                checked
                type="checkbox"
                id="1990006"
                onclick="return false;"
              />
              <label for="1990006">Precalculo</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990007"
                onclick="return false;"
              />
              <label for="1990007">Àlebra lineal</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990008"
                onclick="return false;"
              />
              <label for="1990008">Algoritmos</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990010"
                onclick="return false;"
              />
              <label for="1990010">Matematica discreta</label>
            </div>

            <h4>3rd</h4>

            <div>
              <input
                checked
                type="checkbox"
                id="1990011"
                onclick="return false;"
              />
              <label for="1990011">Fìsica I</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990012"
                onclick="return false;"
              />
              <label for="1990012">Programacion I</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990013"
                onclick="return false;"
              />
              <label for="1990013">Càlculo I</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990014"
                onclick="return false;"
              />
              <label for="1990014">Proceso administrativo</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990015"
                onclick="return false;"
              />
              <label for="1990015">Derecho Informatico</label>
            </div>
          </div>

          <div>
            <h4>4th</h4>
            <div>
              <input
                checked
                type="checkbox"
                id="1990016"
                onclick="return false;"
              />
              <label for="1990016">Microeconomìa</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990017"
                onclick="return false;"
              />
              <label for="1990017">Programacion II</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990018"
                onclick="return false;"
              />
              <label for="1990018">Calculo II</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990019"
                onclick="return false;"
              />
              <label for="1990019">Estadistica II</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990020"
                onclick="return false;"
              />
              <label for="1990020">Fisica II</label>
            </div>

            <h4>5th</h4>

            <div>
              <input
                checked
                type="checkbox"
                id="1990021"
                onclick="return false;"
              />
              <label for="1990021">Metodos numericos</label>
            </div>
            <div>
              <input
                checked
                type="checkbox"
                id="1990022"
                onclick="return false;"
              />
              <label for="1990022">Programacion III</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990023"
                onclick="return false;"
              />
              <label for="1990023">Emprendedores de negocios</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990024"
                onclick="return false;"
              />
              <label for="1990024">Electronica Analogica</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990025"
                onclick="return false;"
              />
              <label for="1990025">Estadistica II</label>
            </div>

            <h4>6th</h4>
            <div>
              <input
                checked
                type="checkbox"
                id="1990026"
                onclick="return false;"
              />
              <label for="1990026">Investigacion de operaciones</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990027"
                onclick="return false;"
              />
              <label for="1990027">Bases de datos I</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990028"
                onclick="return false;"
              />
              <label for="1990028">Automatas y Lenguajes formales</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990029"
                onclick="return false;"
              />
              <label for="1990029">Sistemas operativos I</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990030"
                onclick="return false;"
              />
              <label for="1990030">Electronica digital</label>
            </div>

            <h4>7th</h4>
            <div>
              <input
                checked
                type="checkbox"
                id="1990031"
                onclick="return false;"
              />
              <label for="1990031">Bases de datos II</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990032"
                onclick="return false;"
              />
              <label for="1990032">Analisis de sistemas</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990033"
                onclick="return false;"
              />
              <label for="1990033">Sistemas operativos II</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990034"
                onclick="return false;"
              />
              <label for="1990034">Arquitectura de computadoras I</label>
            </div>

            <div>
              <input
                checked
                type="checkbox"
                id="1990035"
                onclick="return false;"
              />
              <label for="1990035">Compiladores</label>
            </div>
          </div>
        </div>
      </section>

      <!-- Contact -->
      <section class="contact section" id="contact">
        <h2 class="section-title">Contact</h2>

        <div class="contact__container bd-grid">
          <form action="" class="contact__form">
            <input type="text" placeholder="Name" class="contact__input" />
            <input type="mail" placeholder="Email" class="contact__input" />
            <textarea
              name=""
              id=""
              cols="0"
              rows="10"
              class="contact__input"
            ></textarea>
            <input
              type="button"
              value="Enviar"
              class="contact__button button"
            />
          </form>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer class="footer">
      <p class="footer__title">Fernando</p>
      <div class="footer__social">
        <a href="#" class="footer__icon"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="footer__icon"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="footer__icon"><i class="bx bxl-twitter"></i></a>
      </div>
      <p>&#169; 2021 copyright all right reserved</p>
    </footer>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
  </body>
</html>
